.main{
    width: 100%;
    min-height: 500px;
    float: left;
    background-image: url("../img/Rectangle\ 62.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.e_nav{
    width: 100%;
    min-height: 80px;
    float: left;
}
.logo{
    min-width: 100px;
    min-height: 80px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}
.menu{
    min-width: 100px;
    min-height: 80px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.menu ul{
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(37, 52, 118, 0.4);
}
.menu ul li{
    list-style-type: none;
    float: left;
    color: black;
    padding: 0px 20px 10px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 1px;
    color: #1F1F24;
}
.menu ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid #27AE60;
    transition: 0.5s;
}
.section1{
    position: relative;
    width: 100%;
    min-height: 650px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.e_text{
    width: 690px;
    height: 189px;
    float: left;
}
.e_text h1{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 155%;
    /* or 59px */
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 37px rgba(0, 0, 0, 0.25);
}
.e_text span{
    font-weight: 600;
}
.icon_l{
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 200px;
}
.icon_l span i{
    color: white;
}
.icon_r{
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 200px;
}
.icon_r span i{
    color: white;
}
.icon_l span , .icon_r span:hover{
    cursor: pointer;
}
.social_i{
    position: absolute;
    bottom: 41px;
    left: 180px;
    width: 95px;
    height: 26px;
    float: left;
}
.social_i i{
    padding: 0px 5px;
    color: white;
}
.social_i i:hover{
    cursor: pointer;
    color: #27AE60;
    transition: 0.5s;
}
.section2{
    position: relative;
    width: 100%;
    min-height: 800px;
    float: left;
}
.blok1{
    position: absolute;
    margin-top: 100px;
    left: 250px;
    width: 650px;
    height: 502px;
    float: left;
    border: 2px solid white;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

}
.blok2{
    width: 650px;
    height: 500px;
    float: right;
    margin: 200px 130px 0px 0px;
    background-image: url("../img/Rectangle\ 55.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.e_text2{
    width: 550px;
    height: 400px;
    float: left;
    color: #1F1F24;
    background-color: white;
    box-shadow: 58px 49px 84px rgba(0, 0, 0, 0.09);
}
.e_text2 h1{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #1F1F24;
}
.e_text2 p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 170%;
    /* or 34px */
    /* Gray 1 */
    color: #333333;
    opacity: 0.5;
}
.section3{
    width: 100%;
    min-height: 700px;
    float: left;
}
.e_blokkss{
    width: 100%;
    float: left;
    min-height: 600px;
}
.recipes{
    width: 100%;
    min-height: 80px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l_line{
    width: 40%;
    min-height: 80px;
    float: left;
    background-color: white;
}
.l_line img{
    padding: 50px 0px 0px 80px;
}
.c_text{
    width: 20%;
    min-height: 80px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_text h1{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #3E3E3E;
}
.r_line{
    width: 40%;
    min-height: 80px;
    float: left;
}
.r_line img{
    padding: 50px 80px 0px 0px;
}
.e_blok1 , .e_blok2 , .e_blok3{
    width: 350px;
    height: 400px;
    float: left;
    background-image: url("../img/Rectangle\ 36.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 30px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
}
.txt{
    width: 350px;
    height: 150px;
    float: left;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 40.37%, #000000 100%);
}
.txt h3{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-left: 35px;
    line-height: 29px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FFFFFF;
}
.txt p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    padding: 0px 35px;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #FFFFFF;
    opacity: 0.8;
}
.e_blok2{
    background-image: url("../img/Rectangle\ 76.png");

}
.e_blok3{
    background-image: url("../img/Rectangle\ 78.png");
}

.btn{
    width: 220px;
    height: 50px;
    background: #27AE60;
    border-radius: 33px;
    margin: 40px 0px 0px 470px;
    color: white;
}
.botttom{
    width: 100%;
    min-height: 300px;
    float: left;
    background-color: #27AE60;
}
.footer{
    width: 100%;
    min-height: 300px;
    float: left;
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address{
    width: 25%;
    min-height: 200px;
    float: left;
}
.address h4 , .phone h4 , .e-mail h4{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    padding-left: 20px;
    padding-top: 40px;
    color: #FFFFFF;
}
.address p , .phone p , .e-mail p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding-left: 20px;
    line-height: 142.52%;
    /* or 26px */
    color: #FFFFFF;

}

.phone{
    width: 25%;
    min-height: 200px;
    float: left;

}
.e-mail{
    width: 25%;
    min-height: 200px;
    float: left;

}
.f_social{
    width: 25%;
    min-height: 200px;
    float: left;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.f_social i{
    padding: 10px;
}
.f_social span{
    color: #FC9813;
}

.address , .phone  , .e-mail {
    border-right: 1px solid white;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        width: 100%;
        min-height: 150px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu{
        display: none;
    }
    .section1{
        width: 100%;
        min-height: 600px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .e_text{
        width: 301px;
        height: 129px;
        float: left;
        margin-bottom: 150px;
    }
    .e_text h1{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 155%;
        /* or 43px */
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 3px 37px rgba(0, 0, 0, 0.25);
    }
    .social_i{
        display: none;
    }
    .icon_l{
        width: 36px;
        height: 36px;
        float: left;
        position: absolute;
        z-index: 5;
        bottom: 60px;
        left: 140px;
        
    }
    .icon_l span i{
        color: white;
    }
    .icon_r{
        width: 36px;
        height: 36px;
        float: left;
        position: absolute;
        z-index: 5;
        bottom: 60px;
        right: 140px;
    }
    .icon_r span i{
        color: white;
    }
    .icon_l span , .icon_r span:hover{
        cursor: pointer;
    }
    .section2{
        position: relative;
        width: 100%;
        min-height: 800px;
        float: left;
    }
    .blok1{
        position: absolute;
        margin-top: 20px;
        left: 90px;
        width: 350px;
        height: 502px;
        float: left;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    }
    .blok2{
        position: absolute;
        left: 90px;
        top: -70px;
        width: 349px;
        height: 215px;
        z-index: 10;
        float: left;
        background-image: url("../img/Rectangle\ 55.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .e_text2{
        width: 550px;
        height: 400px;
        float: left;
        color: #1F1F24;
        background-color: white;
        box-shadow: 58px 49px 84px rgb(255, 255, 255);
    }
    .e_text2 h1{
        padding-bottom: 220px;
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #1F1F24;

    }
    .e_text2 p{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 160.5%;
        /* or 26px */
        /* Gray 1 */
        color: #333333;
        opacity: 0.5;
    }
    .section3{
        width: 100%;
        min-height: 700px;
        float: left;
    }
    .e_blokkss{
        width: 100%;
        float: left;
        min-height: 600px;
    }
    .recipes{
        width: 100%;
        min-height: 80px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .l_line{
       display: none;
    }
    
    .c_text{
        width: 50%;
        min-height: 80px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .c_text h1{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        text-align: center;
        color: #3E3E3E;

    }
    .r_line{
        display: none;
    }
    .e_blok1 , .e_blok2 , .e_blok3{
        margin-left: 60px;
    }
    .btn{
        margin-left: 145px;
        margin-bottom: 40px;
    }
    .footer , .botttom{
        display: none;
    }

}

































/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
